{% extends 'layout.html.twig' %}

{% block title %}Hello PropertyController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello testyg!</h1>

    This friendly message is coming from:
</div>
{% endblock %}
