<footer>
    <div class="float-md-left">
        <strong>Copyright © <a href="https://lmoury.com/">{{ webmaster }}.com</a></strong> | Tous droits réservés.
    </div>
    <div class="float-md-right">
        <b>Version</b> 1.1
    </div>
    <div class="clearfix"></div>
</footer>
