{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}Index {% endblock %}

{% block body %}
{% set foo = 'yoooooo' %}
    <h1>Hello {{ name }} !</h1>
    </a>
    <p>
        ceci {{ foo }}
    </p>
    <p>
        Le Hello World est un grand classique en programmation.
        Il signifie énormément, car cela veut dire que vous avez
        réussi à exécuter le programme pour accomplir une tâche simple :
        afficher ce hello world !
    </p>
{% endblock %}
